.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding-right: 18px;
  flex-wrap: nowrap;
}

@media (max-width: 550px) {
  .header {
    justify-content: spa;
    padding: 0;
    gap: 5px;

    :global {
      .p-menuitem-text {
        display: none;
      }

      .p-inputtext {
        max-width: 200px;
      }
    }
  }
}
